/******** VARIABLES *********/

$primary-color: #373f6f;
$secondary-color: #0ACE99;
$white: #fff;

$font-size-a-btn: 1.4rem;

$big-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
$small-shadow: 0 0 12px rgba(0, 0, 0, 0.4);